/* effet parallax */

.parallax-container {
    position: relative;
    overflow: visible;
    height: 600px;
}


.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}



/* navbar */

.navbar-fixed {
    background-color: #5f8dd3 !important;
    width: 100%;
    position: fixed;
    text-transform: uppercase;
}

/* footer */

.page-footer {
    padding-top: 95px;
    background-color: #ffffff;

}

.page-footer .footer-copyright {
    overflow: hidden;
    min-height: 80px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    color: rgba(55, 45, 98, 0.8);
    background-color: #5f8dd3;

}

#le_bouton {
    position: fixed;
    top: 20px;
    left: 20px;
}

/* card services */

.card-panel1 {
    transition: box-shadow .25s;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 55px;
    background-color: rgb(55, 45, 98);
    height: 350px;
}


/* card contact */

.card-panel {
    transition: box-shadow .25s;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 55px;
    background-color: rgb(177, 207, 251);
    height: 260px;
    color: #5f8dd3;
}

a {
    color: #3003e5;
}

/* bouton bas de page */

a#cRetour{
    border-radius:3px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(0, 0, 0, 0.25);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#cRetour:hover{
    background: rgb(232, 232, 232);
    transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
    bottom:10px;
    opacity:1;
}

img.responsive-img {
    max-width: 100%;
    height: auto;
}

img.logo.responsive-img {
    margin-top: 150px;
}

.material-icons {
    font-size: 50px;
}

/* texte haut de page */


h1 {
    font-family: 'Roboto', cursive;
    color: #e6f2ff;
    font-weight: 800;
    text-align: center;
    font-size: 330%;
    text-transform: uppercase;
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
    line-height: 1.2;
    margin-top: -30px;
    background: url("img/image_defile.jpeg")
    repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: txtfill 5s linear infinite;
    -webkit-animation: txtfill 30s linear infinite;

}
@keyframes txtfill {
    0% {
        background-position: 0% 5%;
    }
    100% {
        background-position: 100% 5%;
    }
}

h4 {
    font-family: 'Courgette', cursive;
    color: #5f8dd3;
}



